<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to the Book Database</title>

</head>
<style>
    body{
        background-color: #93B874;
    }
</style>
<body>
<form action="#" th:action="@{/enterinformation}" th:object="${newinfo}" method="post">
    <p align="center">Employee Name: <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span></p>
    <p align="center">Employee Email: <input type="text" th:field="*{emailaddress}"/>
        <span th:if="${#fields.hasErrors('emailaddress')}" th:errors="*{emailaddress}">EmailAdress Error</span></p>
    <p align="center">Organization: <input type="text" th:field="*{organisation}"/>
        <span th:if="${#fields.hasErrors('organisation')}" th:errors="*{organisation}">Organisation Error</span></p>

    <p align="center">Start Date: <input type="text" th:field="*{startdate}"/>
        <span th:if="${#fields.hasErrors('startdate')}" th:errors="*{startdate}">StartDate Error</span></p>
    <p align="center">End Date: <input type="text" th:field="*{enddate}"/>
        <span th:if="${#fields.hasErrors('enddate')}" th:errors="*{enddate}">End date Error</span></p>



    <p align="center"><input type="submit" value="Enter" /> <input type="reset" value="Reset" /> </p>

</form>
<form method="get" action="/showemployeeinfo">
    <button type="submit">Show Employee Data</button>
</form>
<form method="get" action="/">
    <button type="submit">Home</button>
</form>

</body>
</html>