<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Employees in the Database</title>
</head>


<table width="100%" cellspacing="2" cellpadding="0" border="0" align="center" >
    <tr>
        <th width="20%" height="50">Name</th>
        <th width="20%" height="50">Email Address</th>
        <th width="20%" height="50">Organization</th>
        <th width="20%" height="50">SKU</th>
        <th width="20%" height="50">Price</th>
    </tr>
    <tr  th:each="employee:${dbemployee}">
        <td  width="20%" height="50" th:text="${employee.name}">Book Title</td>
        <td  width="20%" height="50" th:text="${employee.emailaddress}">Author</td>
        <td  width="20%" height="50" th:text="${employee.organisation}">Desription</td>
        <td  width="20%" height="50" th:text="${employee.startdate}"></td>
        <td  width="20%" height="50" th:text="${employee.enddate}"></td>
    </tr>

    <a href="/">Home</a>

</table>
</html>